* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main h1:first-child {
    font-size: 60px;
}

main h1 {
    text-align: center;
}

main p {
    text-align: center;
}

button {
    width: fit-content;
    font-weight: 600;
    padding: 8px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

button:active {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}